.flashy {
  color: red;
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 10px;
}

.best {
  align-items: center;
  padding: 25px;
}

.Headers {
  font-family: fantasy;
  font-weight: bold;
}

.Non-Headers {
  font-family:monospace;;
  font-weight: lighter;
  border: solid 5px;
  padding-left: 10px;
  background-color: skyblue;
  margin-left: 5px;
}
